body
{
    margin:0;
    padding:0;
     background: #A82743; 
    
}
svg
{
  width: 100%;
  height: 120vh;
  position: absolute;
  z-index: -1;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5C323E;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

 nav ul
{
    display: flex;
    list-style:none;
    justify-content: space-evenly;

}
 nav ul a
{
    padding-left: 20px;
    text-decoration:none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    
    font-family: 'Abril Fatface', cursive;
    color: white;
    
}
 nav ul a:hover
{
    
    color: rgb(240, 143, 8);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
 nav ul a:first-child
{
    color: white;
    text-decoration-color: rgb(240, 143, 8);
   
}
nav ul a:last-child
{
  padding-right: 15px;
}
 nav
{
    position: sticky;
}

main{
    padding-top: 100px;
}
/*hero starts here*/

.hero {
    border-radius: 12px;
    background-color:#5C323E;
    background-attachment: scroll;
   
    text-align: center;
    padding: 80px 20px;
    margin-top: 10px;
    margin-left: 15%;
    margin-right:15%;
  }
  
  .hero h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 58px;
    margin-bottom: 20px;
    color: white;
    animation: fadeIn 2s 1s forwards;
  }
  
  .hero p {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    animation: scaleIn 2s 1s normal;
  }
  .side
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
  }
  .side p
  {
    padding-right: 80px;
  }
/*  
  .hero .btn {
    display: inline-block;
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .hero .btn:hover {
    background-color: white;
    color: black;
  } */

  .custom-btn {
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px #A82743,
     7px 7px 20px 0px #A82743,
     4px 4px 5px 0px #A82743;
    outline: none;
  }
  .btn-1{
    position: relative;
    font-size: 18px;
    padding: 10px;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-1 span {
    background: rgb(0,172,238);
  background: #A82743;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-1 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-1 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-1:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-1:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
    

.services{
    display:flex;
    margin:0;
    padding:0px;
    min-height: 100vh;
    background-color:inherit;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
  }
  
  .Services h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 3em;
    color: white;
    font-weight: 400;
  }
 
  
  .container{
   align-self: center;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin:0 auto;
    
  }
  
  .container .card{
    position: relative;
   
  }
  
  .container .card .face{
    width:230px;
    height: 200px;
    transition:.4s;
    border-radius: 12px;
    
  }
  
  .container .card .face.face1{
    position: relative;
    background:#5C323E ;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px rgb(221, 75, 7),
      inset 20px 0 80px rgb(242, 73, 0),
      inset -20px 0 80px rgb(136, 13, 13),
      inset 20px 0 300px rgb(208, 13, 13),
      inset -20px 0 300px rgb(226, 74, 9),
      0 0 50px #ede8e8,
      -10px 0 80px rgb(122, 11, 11),
      10px 0 80px rgb(122, 9, 9);
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: 100%;
    transition:  0.5s;
    text-align: center;
  
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: rgb(254, 253, 253);
    text-align: center;
    font-size: 20px;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 15px;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    outline : 1px solid #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    background: #a92743;
    border-radius: 12px;
    border: none;
  }
  
  .container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  

.testimonials *{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
	box-sizing: border-box;
}
.testimonials *:before,
.testimonials *:after{
	box-sizing: border-box;
}

.testimonials p{
	color: White;
	text-align: center;
	font-family: 'Anaheim', sans-serif;
	font-size: 12px;
}
.testimonials h1{
	display: table;
	text-align: center;
	margin: 5% auto 0;
	font-family: 'Abril Fatface', cursive;
	font-size: 3em;
	font-weight: 400;
  color: white;
}
.container3{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 70s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 204px;
	height: 250px;
	left: 10px;
	top: 10px;
	background: #5C323E;
	overflow: hidden;
	border: transparent 5px rgb(240, 143, 8);
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.circle {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}
.circle img {
  width: 100%;
  height: auto;
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

  .SignUp-box {
    
    padding: 40px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #5C323E;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .SignUp-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .SignUp-box .user-box {
    position: relative;
  }
  
  .SignUp-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .SignUp-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .SignUp-box .user-box input:focus ~ label,
  .SignUp-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  .SignUp-box form .A
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .SignUp-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .SignUp-box a:hover {
    background: #A82743;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #A82743,
                0 0 25px #A82743,
                0 0 50px #A82743,
                0 0 100px #A82743;
  }
  
  .SignUp-box a span {
    position: absolute;
    display: block;
  }
  
  .SignUp-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFF);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .SignUp-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFF);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .SignUp-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFF);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .SignUp-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFF);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  .login-box {
    
    padding: 40px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    margin-bottom: 15%;
    background: #5C323E;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    font-weight: 1000;
    
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  .login-box form .A
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #A82743;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #A82743,
                0 0 25px #A82743,
                0 0 50px #A82743,
                0 0 100px #A82743;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFF);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFF);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFF);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFF);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
